/**
* common : conponent 로 정의되고 사용되는 css 
*/
@import "font.scss";
@import "color.scss";
@import "mixin.scss";

html,
body,
input,
textarea,
select,
table,
button {
    font-family: "Noto Sans JP", "Noto Sans KR", 본고딕체 !important;
    font-size: 13px;
    // color: $textgray1;
    outline: none !important;
}

body {
    margin: 0 auto;
    // background: $backgroundColor;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li, ol li {
    margin: 0;
    padding: 0;
    border: 0;
}

label {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

*:focus,
button:focus {
    outline: none;
}
/*  */
#wrap{
    min-width: 1300px;
    text-align: center;
    background: $backgroundColor;
}

#header {    
    margin: 0 auto;    
    background-color: $backgroundColor;
}
.menu-select { // menu select theme parent
    &-wrap {
        > li {
            float: left;
            margin-left: 14px;
        }
    }
}

#container {
    @include content-width;
    min-height: 836px;
    margin: 0 auto 50px;
    padding: 50px 30px;
    // background: $white;
    text-align: left;
    font-size: 0;
    white-space: nowrap;
    background-color: white;
    &.content {
        padding: 0 100px 50px 100px;
    }
}
.da-select {
    text-align: left;
}
/* alert */
.platform-alert {
    z-index: 10000;
    display: flex;
    position: fixed;
    top: 0;
    // width: 100%;
    // height: 100%;
    align-items: center;
    justify-content: center;
    .pl-alert {
        padding: 0.1px;
        height: 280px;
        width: 276px;
        text-align: center;
        border-radius: 8px;
        background-color: $white;
        box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.2);
        &.big {
            width: 412px;
            max-width: 412px;
        }
    }
    .asset-notice {
        margin: auto;        
        margin-top: 30px;
        margin-bottom: 25px;
        box-sizing: border-box;
        @include assets-style(20px, 26px, '../images/icon/icon_bell-3x.png');
        height: 57px;
        width: 57px;
    }
    .pl-alert-msg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 76px;
        padding: 0 26px;
        font-size: 13px;
        color: $textgray1;
        text-align: center;
        > div{
            white-space: pre;
        }
    }
    .big .button {
        width: 170px;
        height: 40px;
    }
    .button {
        width: 107px;
        height: 40px;
        margin-top: 22px;
        text-align: center;
    }
}
/* scroll */
::-webkit-scrollbar { /* 스크롤바 */
    height: 16px;
    width: 15px;
}
::-webkit-scrollbar-button { /* 스크롤바 [상/하/좌/우] 버튼 */
    height: 0;
    width: 0;
}
::-webkit-scrollbar-thumb { /* 스크롤바 객체 */
    background-color: #c2c2c2;
    background-clip: padding-box;
    border: solid transparent;
    // border-width:1px 1px 1px 6px;
    border-width: 1px 3px 1px 4px;
    border-radius: 7px;
}
::-webkit-scrollbar-track { /* 스크롤바의 트렉 (바탕) */ 
    background-clip: padding-box;
    background-color: transparent;
}
::-webkit-scrollbar-track-piece { /* the area not covered by the handle */
    background-clip: padding-box;
    background-color: transparent;
    margin: 4px 0 4px;
}
::-webkit-scrollbar-corner { /* the bottom corner of the scrollbar where vertical and horizontal scrollbars meet */
    background-clip: padding-box;
    background: transparent;
    border: solid transparent;
    border-width: 0px 0 0 0px;
}
