/* button */
@import "../color.scss";
@import "../mixin.scss";
.daButton {
    display: inline-flex;
    // display: inline-block;
    padding: 0 20px;
    height: 36px;
    border: none;
    border-radius: 5px;
    line-height: 1.2em;
    cursor: pointer;    
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
    > * {
        align-self: center;
    }
    &:not(.button-none):not(.button-blackicon) > * {
        &.assets, &.asset{
            margin-right: 5px;
        }
    }
    &:disabled{ 
        cursor: not-allowed;
    }
    
    &-white {
        padding: 0 12px;
        border-radius: 5px;
        @include color-whitetype1;

        &.button-icon {
            @include color-btnwhiteicon;
        }
        &.type1{
            @include color-whitetype1;
        }
        &.type2{
            height: 28px;
            border-radius: 3px;
            @include color-whitetype2;
        }
    }
    &-black {
        line-height: 2em;
        @include color-black;

        &.type2{
            height: 28px;
            padding: 0 12px;
            border-radius: 3px;            
            @include color-blacktype2;
        }
    }
    &-blackicon {
        height: 36px;
        width: 50px;
        padding: 0 12px;
        border-radius: 18px;
        @include color-black;
        &.type2 {
            width: 36px;
            padding: 0;
            text-align: center;
            border-radius: 6px;
        }
    }
    &-iconbtn {
        height: 28px;
        padding: 0 12px;
        border-radius: 3px;
        font-size: 14px;
        @include color-iconbtn;
    }
    &-textbtn {
        height: 28px;
        padding: 0 12px;
        border-radius: 3px;
        @include color-textbtn;
    }
    
    &-none{
        height: auto;
        padding: 0;
        background-color: transparent;
        border: none;
    }
    // editor 
    &-editor {
        height: 26px;
        border-radius: 5px;
        font-size: 12px;
        padding: 3px 11px 4px 11px;
        @include color-btneditor;
    }
    &.big {
        height: 40px;
        font-size: 15px;
        border-radius: 5px;
    }
    &.small{
        height: 28px;
        padding: 0 12px;
        font-size: 14px;
        border-radius: 3px;
    }
    &.middle{
        height: 32px;
        line-height: 2em;
        border-radius: 5px;
    }
    // 페이지 하단 버튼
    &.page {
        width: 194px;
        height: 40px;
        font-size: 15px;
    }
}