/**
* head
*/
@import "../color.scss";
@import "../mixin.scss";
/* Menu */
.menu {
    @include content-width;
    @include content-rowCenter;
    position: relative;
    // height: 100%;
    height: 68px;
    margin: 0 auto;

    &-wrap{
        border-bottom: 1px solid $linegray;
        background: $white;
    }

    * {
        box-sizing: border-box;
    }
    > ul {
        @include content-flexCenter;
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        text-align: center;
        
        li {
            position: relative;
            width: 115px;
            height: 100%;
            text-align: center;
            font-size: 15px;
            font-weight: 500;
            color: $textgray2;
            cursor: pointer;
            transition: all 0.2s;
            &:not(.bubble-li) {
                padding-top: 23px;
            }
            &:hover ,
            &.selected{
                color: $textgray1;
                font-weight: 500;
            }
            &:hover .border-line,
            &.selected .border-line {
                opacity: 1;
                transition: all 0.2s ease-in;
            }
            &:hover ul {
                display: block;
                opacity: 1;
                visibility: visible;
            }
            a {
                color: inherit;
                &:hover {
                    color: inherit;
                    text-decoration: none;
                }
            }
            > .top-menu {
                display: block;
                height: calc(100% - 3px);
            }
            /* 2depth */
            ul {
                position: absolute;
                top: 68px;
                left: -21.5px;
                z-index: 3;
                width: 158px;
                padding: 0;
                margin-top: 10px;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.2s;
                &.wider {
                    left: -33px;
                }
                li {
                    display: block;
                    width: 100%;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 40px;
                    color: $textgray2;
                    &:hover {
                        color: $textgray1;
                        font-weight: 400;
                    }
                }
            }
            .selected {
                color: $textgray1;
                font-weight: 400;
            }
        }
    }
    .border-line {
        border-bottom: solid 3px $emcolor1;
        opacity: 0;
    }
    .bubble {
        width: 158px;
        padding: 5px 0;
        background-color: $white;
        border-radius: 8px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        
        &.wider {
            width: 178px;
            &::before {
                left: 80px;
            }
        }
        &::before {
            content: "\00a0";
            display: block;
            position: absolute;
            left: 69px;
            top: -10px;
            width: 20px;
            height: 20px;            
            background-color: $white;
            box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
            transform: rotate(135deg);
        }
    }
    &-logo {
        display: inline-block;
        height: 32px;
        width: 160px;
        background: url("../../logo_maps-3x.png") no-repeat top left;
        background-size: 160px 32px;
        z-index: 1;
    }
    &-logo-en {
        display: inline-block;
        height: 32px;
        width: 174px;
        background: url("../../logo_maps_en-3x.png") no-repeat top left;
        background-size: 174px 32px;
        z-index: 1;
    }
    &-logo-symbol {
        display: inline-block;
        height: 45px;
        width: 250px;
        z-index: 1;
    }
    &-title {
        display: inline-block;
        margin-left: 12px;
        font-size: 15px;
        text-align: left;
    }
    &-info {
        position: absolute;
        right: 0;
        color: $textgray1;
        line-height: 0;
        font-size: 0;
        vertical-align: middle;
        white-space: nowrap;
        .dropdown {
            font-size: 15px;
            vertical-align: middle;
            white-space: normal;
        }
    }
}

/* menu - alert : 아직 회면에 표시될지 여부 불투명 */
.menu-select {
    &-wrap {
        > li {
            float: left;
            margin-left: 14px;
        }
    }
    &--logout {
        display: inline-block;
        width: 36px;
        height: 36px;
        border: none;
        background-image: url("../../images/header/btn_Logout-3x.png");
        background-size: 36px;
        @include content-bgCenter;
        cursor: pointer;
    }
    &--myinfo {
        display: inline-block;
        /* margin-top: 5px; */
        width: 36px;
        height: 36px;
        border: none;
        background-image: url("../../images/header/btn_user-3x.png");
        background-size: 36px;
        @include content-bgCenter;
        cursor: pointer;
    }
    &--alert {
        width: 36px;
        height: 36px;
        /* margin-top: 5px; */
        border: none;
        cursor: pointer;
        background-image: url("../../images/header/btn_notice_w-3x.png");
        background-size: 19px 22px;
        @include content-bgCenter;

        &-wrap {
            position: relative;
        }
        &-num {
            position: absolute;
            top: 0;
            left: 12px;
            z-index: 1;
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 11px;
            text-align: center;
            color: $white;
            &::before {
                content: "";
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 20px;
                height: 20px;
                background-color: $emcolor1;
                border-radius: 10px;
            }
        }
        &-box {
            display: none;
            position: absolute;
            top: 47px;
            right: -84px;
            z-index: 1;
            width: 280px;
            padding: 0px 10px 5px 10px;
            min-height: 60px;
            line-height: 120%;
            border-radius: 5px;
            @include color-boxshadow($backgroundColor, 0.25);

            &--title {
                display: block;
                height: 50px;
                line-height: 50px;
                padding-left: 10px;
                text-align: left;
                font-size: 15px;
                font-weight: 500;
                color: $active1;
            }
            &--list li {
                float: none;
                padding: 10px 20px;
                margin-bottom: 5px;
                text-align: left;
                background-color: $white;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
                }
                p {
                    margin: 0;
                    margin-bottom: 5px;
                    font-size: 12px;
                    line-height: 15px;
                    color: $textgray2;
                }
                span {
                    font-size: 11px;
                    height: 11px;
                    color: $textgray2;
                    line-height: 15px;
                    &:first-child {
                        margin-right: 8px;
                        padding-right: 8px;
                        border-right: 1px solid $textgray2;
                    }
                }
                &.new {
                    position: relative;
                    &::before {
                        content: "N";
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: block;
                        height: 20px;
                        width: 20px;
                        color: $white;
                        font-size: 11px;
                        line-height: 20px;
                        font-weight: 300;
                        text-align: center;
                        background-color: $emcolor3;
                        border-radius: 5px 5px 5px 0px;
                    }
                    p {
                        color: $active1;
                    }
                }
            }
        }
    }
}

/* breadcrumb */
.breadcrumb {
    @include content-width;
    height: 40px;
    margin: 1px auto;
    padding: 13px 0;    
    text-align: right;
    font-size: 13px;
    font-weight: 300;
    color: $textgray2;
    background-color: $backgroundColor;
    box-sizing: border-box;
    > * {
        box-sizing: border-box;
    }
    ul {
        float: right;
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: right;
        li {
            display: inline;
            &::before {
                content: "";
                display: inline-block;
                position: relative;
                top: 1px;
                width: 8px;
                height: 12px;
                margin: 0 19px;
                background-image: url("../../images/header/btn_next_g-3x.png");
                background-size: 8px 12px;
                background-repeat: no-repeat;
            }
            &:first-child::before {
                display: none;
            }
        }
    }
}
